.result-list {
  width: 100%;
  min-height: 100vh;
}
.result-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #388bfd1a;
  padding: 16px;
  margin-top: 30px;

  .result-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .avatar {
      width: 20px;
      height: 20px;
    }
    .text {
      font-size: 14px; 
      font-weight: 500;
      color: #2f81f7;
    }
  }

  .result-description {
    margin-top: 10px;
    font-weight: 500;
    color: #e6edf3;
  }
  .result-tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;

    .tag {
      margin-right: 5px;
      font-size: 12px;
      font-weight: 500;
      padding: 2px 5px;
      border-radius: 5px;
      color: #2f81f7;
      background-color: #388bfd1a;
    }
  }

  .result-infos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;

    .language {
      margin-right: 10px;
      font-size: 12px;
    }
    .stars {
      margin-right: 10px;
      font-size: 12px;
    }
    .watchers {
      margin-right: 10px;
      font-size: 12px;
    }
    .last-updated {
      margin-right: 10px;
      font-size: 12px;
    }
  }
}






