#root {
  min-width: 1280px;
  text-align: center;
  background-color: #0d1116;
}

.frame {
  display: flex;
  flex-direction: column;
  min-width: 1280px;
  width: 100vw;
}

.observer-section {
  width: 100vw;
  height: 50px;
  background-color: #161b22;
}
